Notes from Chris Newman

>    The report is composed as a plain text file encoded in the JSON
>   format ([RFC7159]).

Can we use I-JSON format instead? RFC 7493. I'd prefer if the report is encoded in UTF-8 rather than an arbitrary Unicode encoding that the recipient has to dynamically detect.

>   o  "email-address": The contact information for a responsible party
>      of the report.  It is provided as a string formatted according to
>      Section 3.4.1, "Addr-Spec", of [RFC5322].

Can we format according to the "Mailbox" rule in section 4.1.2 of [RFC5321]? I'd prefer not to require receivers to strip out FWS & CFWS from the address.

>     tlsrpt-subject = %x52.65.70.6f.72.74 1*FWS       ; "Report"
>                      %x44.6f.6d.61.69.6e.3a 1*FWS    ; "Domain:"
>                      domain-name 1*FWS               ; from RFC 6376
>                      %x53.75.62.6d.69.74.74.65.72.3a ; "Submitter:"
>                      1*FWS domain-name 1*FWS
>                      %x52.65.70.6f.72.74.2d.49.44.3a ; "Report-ID:"
>                      msg-id                          ; from RFC 5322

Where is 'FWS' defined? If it's the FWS from RFC 5322, then you need to change "1*FWS" to "FWS" in all 5 places.

Can you please reference RFC 7405 to improve readability, so this can be rewritten as:

  tlsrpt-subject = %s"Report" FWS %s"Domain:" FWS domain-name
                   %s"Submitter:" FWS domain-name FWS
                   %s"Report-ID:" msg-id

Also, you might want to instead use:
    %s"Report-ID" FWS "<" id-left "@" id-right ">" [CFWS]

so there's no need to skip over comments (CFWS) to extract the report id.


I don't see any reason we can't implement these.  I'll make a new branch, and then try to get folks to review both PRs at the same time.  I may do an update to the list to spur further comments.