IANA From Alexey

I would like to suggest the following replacement for the Section 6.2 (Report Type):

OLD:
    This document registers a new parameter "report-type="tlsrpt"" under
    "multipart/report" top-level media type for use with [RFC6522].

    The media type suitable for use as a report-type is defined in the
    following section.

NEW:

    This document creates a new registry for "report-type" parameter to
    Content-Type header field for "multipart/report" top-level media type defined in [RFC6522].
    This registry should contain "report-type" parameter value, list of corresponding Media Types for

    document defining it and an optional comment. Registration procedure
    for this should be "Specification Required".

    The registry is to be populated with the following entries:

      "tlsrpt", application/tlsrpt+gzip and application/tlsrpt+json, [RFCXXXX]

      "disposition-notification", message/disposition-notification, RFC 8098

      "disposition-notification",
message/global-disposition-notification, RFC 6533

      "delivery-status", message/delivery-status, RFC 1894

      "delivery-status", message/global-delivery-status, RFC 6533

    Media types suitable for use with a report-type="tlsrpt" are defined in Sections 6.4 and 6.5.

Does this look reasonable to people?

Thank you,
Alexey


Ah, so, he then sent a separate note with different language.  I'll work it out with Alexey.