Fenton/Halpern Comment on Selector

Requiring that the selector have a particular name or name prefix associates semantics with selector names, of which there is none. It also requires the management (e.g., rotation) of more keys per domain.

There is a better way to do this. The s= tag on the key record (service
type) can be used to distinguish keys that are only supposed to sign normal mail from those that may sign TLS reports (or those that may be used for either). The default is "*", that the key can be used for any service. For domains that are concerned that users may sign spoofed TLSRPT messages, they can specify s=email for keys intended for normal use and s=tlsrpt (I'd propose) for those that may sign TLSRPT messages.
This way TLSRPT only complicates the key management when the is potential for abuse. Then require that it only accept TLSRPT messages when signed with a key permiting the appropriate service

See RFC 6376 section 3.6.1, description of s= tag.

-Jim
