[UTA feedback] - Section 3 Updates

From Stephen Farrell

- section 3, "mx": the wildcards here would seem to open an attack - if mail is supposed to go to foo.example.com and I operate a web server on bar.example.com and see "mx=*.example.com" then the operator of bar.example.com can mount an attack (if they can inject an MX RR). Pretty easy to get that wrong I'd say if the value of "mx=" is complex. I'd say you need to warn explicitly about that in the security considerations section.

[_deleted previously fixed comments_ -- dmargolis]

From Viktor

> 3. Policy Semantics
> 
> SMTP MTA-STS policies are distributed via a "well known" HTTPS endpoint in the Policy Domain. A corresponding TXT record in the DNS alerts sending MTAs to the presence of a policy file.

s/alerts/informs/ or perhaps "signals".

> (Future implementations may move to alternate methods of policy 
> discovery or distribution. See the section Future Work for more 
> discussion.)

I am quite skeptical about the "Future Work" section, this is a draft RFC, not a grant proposal, and much of it seems rather speculative. I'd like to see that section deleted.

> The MTA-STS TXT record MUST specify the following fields:
> 
> 	* id: (plain-text, required). A short string used to track policy updates. This string MUST uniquely identify a given instance of a policy, such that senders can determine when the policy has been updated by comparing to the id of a previously seen policy, and must also match the policy_id value of the distributed policy.
> A lenient parser SHOULD accept a policy file implementing a superset of this specification, in which case unknown values SHALL be ignored.

If both the published policy and the DNS record carry just one "id", then changing these in concert becomes difficult.  If the HTTPS resource is updated first, then clients that see the new policy will constantly refresh it via HTTPS because until the cached DNS record catches up.  If the DNS is updated first, similar behaviour results.

Furthermore, the statement that these "MUST" match is then wrong, the "id" in the DNS policy is just a "refresh" signal, and the retrieved policy would sometimes legitimately not match.

Consequently, a better design is to publish multiple matching "id" values in the HTTPS policy which can list a few recently published DNS "id" values, in particular at least the current one published in the authoritative DNS zone, and typically also the previous that may still be present in some DNS caches.

The recommended update process woud then be to update the HTTPS policy "<id1>,<id2>" -> "<id2>,<id3>" and then update the DNS TXT record from "<id2>" -> "<id3>".  Clients that still have "<id2>" in their cached DNS record would then accept the new policy as fresh since it still matches "<id2>".


> Policies MUST specify the following fields in JSON [RFC4627] format:
> 
> 	* mode: (plain-text, required). If "enforce", the receiving MTA requests that messages be delivered only if they conform to the STS policy. If "report" the receiving MTA requests that failure reports be delivered, as specified by the rua parameter.

There is no longer any "rua" parameter, that moves to the reporting draft, and need not be "secured" via HTTPS.

> 	* mx: MX patterns (list of plain-text MX match patterns, required). One or more comma-separated patterns matching the expected MX for this domain. For example, ["*.example.com", "*.example.net"] indicates that mail for this domain might be handled by any MX whose hostname is a subdomain of "example.com" or "example.net". The semantics for these patterns should be the ones found in the "Checking of Wildcard Certificates" rules in Section 6.4.3 of [RFC6125].

I think this confuses the syntax for "presented identifiers" that are found in the peer certificate, with a new syntax for names that the client considers to be valid "reference identifiers" that are then compared with the presented identifiers.  The wildcard syntax in [RFC6125] describes the latter, and I think it is best to not confuse the two semantically distinct usages.  Therefore, I would propose ".example.com" as the wildcard syntax for the MX name.

Please also decide/describe whether this specifies a suffix that supports deeply nested MX hosts.  That is, should "mail1.mx.example.com" be valid for a policy that specifies ".example.com" (or "*.example.com" if the above proposed syntax is retained).

> 	• policy_id: A short string used to track policy updates. This string MUST uniquely identify a given instance of a policy, such that senders can determine when the policy has been updated by comparing to the policy_id of a previously seen policy.

See above, this needs to be multi-valued to make rollover work more smoothly.


422b2e6

5510e1d..b5bdda4

I don't really understand Viktor's point about the RFC6125 reference. It still seems to me the best description of wildcard matching (though RFC2818 is also helpful, though less exhaustive, in this). 